@use './mixins' as *;
@use './variables' as *;


.cards-section {
    @include flex($wrap:wrap, $align:normal);
    padding: 0.25vh 8vw;
    row-gap:4vw;
    column-gap: 1.25vw;
    margin-bottom:15vh;
}

.card {
    @include card;
    &--special {
        background: $gradient-color-card;
    }
    &__img {
        align-self: flex-start;
        @include position($top:-7.75vh);
    }
    &__h2{
        @include font($color:$primary-color, $size:2rem);
        width:20vw;
    }
    &__h3{
        @include font($size:1.5rem);
        @include trans;
    }
    &__p{
        @include font($color:$secondary-text, $weight:500);
        line-height: 28px;
        width:20vw;
        @include trans($Y:-9.85vh);
    }
    &__a {
        text-decoration: none;
        @include font($weight:700, $color:$hyperlink-color);
        transform: translateY(-5vh);
        @include hover2;
    }
}