@use './mixins' as *;
@use './variables' as *;


.cards-section {
    display: flex; 
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 0.25vh 8vw;
    row-gap:4vw;
   column-gap: 1.25vw;
}

.card {
    width:24vw;
    height: 17.45vh;
    border-radius: 15px;
    padding: 1vh 1.5vw;
    background: $primary-color;
    &--special {
        background: $gradient-color-card;
    }
    &__img {

    }
    &__h2{
        color:$primary-color;
        font-size: 2rem;
        font-weight: 800;
        width:20vw;
    }
    &__h3{

    }
    &__p{

    }
    &__a{

    }
}