@use './mixins' as *;
@use './variables' as *;

.hero {
    @include flex($justify:normal);
    padding: 2vh 11.5vw;
    height: 60vh;
    margin-bottom:15vh;
    &--left {
        @include flex($direction:column, $align:flex-start, $justify:normal);
        height:19.5vh;
        @include position($top:-20vh);
    }
    &__img{
        @include position($right:-10vw, $top:-8vh);
        z-index:-1;
    }
    &__h1 {
        @include font($size:3.5rem);
        width:32vw;
    }
    &__p{
        @include font($weight:500, $color:$secondary-text);
        line-height: 28px;
        margin-bottom:4vh;
    }
    &__button{
        @include button($bg-color:$gradient-color-card);
        @include hover;
    }
}