$primary-bg-color:linear-gradient(#FFFFFF, #dcdde4);
$primary-color:#FFFFFF;
$primary-text:#13183F;
$secondary-text:#83869A;
$hyperlink-color:#F74780;
$hover-button-color:#666CA3;
$hover-button-color2:#FFA7C3;
$gradient-color-card: linear-gradient(#F02AA6, #FF6F48);
$gradient-color-button:linear-gradient(#4851FF, #F02AA4);
$font:'Plus Jakarta Sans', sans-serif;