@use './mixins' as *;
@use './variables' as *;


.cards-section {
    @include flex($wrap:wrap, $align:normal);
    padding: 0.25vh 8vw;
    row-gap:10vw;
    column-gap: 1.25vw;
    margin-bottom:15vh;
    @include tablet-ver{
        row-gap:6vw;
    }
}

.card {
    @include card;
    width:50vw;
    height:40vh;
    align-items: center;
    text-align: center;
    &--special {
        background: $gradient-color-card;
    }
    &__img {
        align-self: flex-start;
        @include position($top:-7.75vh);
    }
    &__h2{
        @include font($color:$primary-color, $size:2rem);
        width:20vw;
    }
    &__h3{
        @include font($size:1.5rem);
        @include trans;
    }
    &__p{
        @include font($color:$secondary-text, $weight:500);
        line-height: 28px;
        width:40vw;
        @include trans($Y:-9.85vh);
    }
    &__a {
        text-decoration: none;
        @include font($weight:700, $color:$hyperlink-color);
        transform: translateY(-5vh);
        @include hover2;
    }

    @include tablet-ver{
        width:30vw;
        height:40vh;
        text-align: left;
        &__p{
            font-size:1rem;
            width:20vw;
        }
        &__a{
            font-size:1rem;
        }
    }

    @include tablet-hor {
    }

    @include desktop {
        width:24vw;
        @include flex($direction:column, $justify:space-between, $align:normal);
    }
}